.ly-input {
  border: 2px solid black;
  margin: 1rem 1rem 0rem 1rem;
  position: relative;
}

.ly-input input {
  border: none;

  width: 90%;
  padding: 0.8rem;
  color: black;
  background-color: transparent;
}


.ly-input.error::after {
  content: '!';

  position: absolute;
  right: -1rem;
  top: 50%;

  transform: translateY(-50%);

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  width: 2rem;
  line-height: 2rem;

  border-radius: 45rem;

  color: white;
  background-color: black;
}
